/* @import statement to include the "Manrope" font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set global font styles */
:root {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-weight: 800;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(31 41 55);
}

/* Keyframes for spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg); /* 360deg * 2 = 720deg for two full spins */
  }
}

/* Class to apply spin animation */
.spin {
  animation: spin 1s ease-in-out;
}

/* Keyframes for fade animation */
@keyframes fade {
  from {
    opacity: 0; /* Start fully transparent */
  }
  to {
    opacity: 1; /* End fully opaque */
  }
}

/* Class to apply fade animation */
.fade {
  animation: fade 0.5s ease-in-out;
}

/* Keyframes for initial fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Class to apply initial fade-in animation */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}